/* Custom style in submit button */
.btn-submit-green {
    background-color: #28a745 !important; /* Success Green Color */
    color: white !important; /* Text color White */
    font-weight: 500;
    padding: 10px 30px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

/* Add hover effect */
.btn-submit-green:hover {
    background-color: #218838 !important;
}

/* আইকনের রঙ সাদা করার জন্য */
.btn-submit-green mat-icon {
    color: white !important;
}
