<div class="container-fluid min-vh-100 d-flex align-items-center justify-content-center bg-light">
  <div class="row w-100 align-items-center justify-content-center">
    
    <div class="col-md-5 text-center mb-5 mb-md-0">
      <div class="logout-image-container">
        <img src="assets/img/Log_out.jpg" 
             alt="Goodbye Illustration" class="img-fluid doodle-image-logout shadow-sm">
      </div>
    </div>

    <div class="col-md-5 text-center text-md-left px-lg-5">
      <h2 class="display-4 font-weight-bold goodbye-text">
        Goodbye!
      </h2>
      <p class="lead mb-4 message-text">
        "Saying goodbye is always sad. You can come back whenever you want."
      </p>
      
      <button mat-raised-button class="btn-green-logout py-3 px-5 shadow" routerLink="/login">
        <mat-icon class="mr-2">login</mat-icon>
        GO BACK TO LOGIN
      </button>
    </div>

  </div>
</div>
